// _dark_theme.scss

@import "custom_variables";

// デバッグ用コメント
/* body-bg: #{$body-bg} */
/* card-bg: #{$card-bg} */

// 残りのコード

.body {
  background-color: $body-bg;
  color: $body-color;
}

.card {
  background-color: $card-bg;
  border-color: #333;
}

.btn-secondary {
  background-color: $secondary;
  border-color: lighten($secondary, 10%);
  color: $body-color;
}

.form-control {
  background-color: $input-bg;
  border-color: $input-border-color;
  color: $input-color;
}

$header-footer-gradient: linear-gradient(
  to bottom,
  rgba(40, 44, 52, 0.9),
  rgba(30, 33, 39, 0.9)
);

.header, footer {
  background: $header-footer-gradient;
  color: #e0e0e0;
}