/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* コメント */

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.chats {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
.chat {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  background: #ffdbed;
  border-radius: 10px;
  padding: 10px;
}

.chat img {
  width: 50px;
  height: 50px;
  border-radius: 15%;
  margin-right: 10px;
}
.chat-content {
  flex: 1;
}
.chat-content .name {
  font-weight: bold;
}
.chat-content .time {
  font-size: 0.8em;
  color: #888;
  margin-left: 10px;
}
.comment-form {
  padding: 20px;
  border-top: 1px solid #ddd;
}

/* ユーザー */

.profile-container {
  display: flex;
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
}

.profile-icon {
  flex: 0 0 150px;
  margin-right: 20px;
}

.profile-info {
  flex: 1;
}

.profile-nickname {
  margin-bottom: 10px;
}

.profile-text {
  font-size: 14px;
  line-height: 1.4;
}