/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* コメント */

.chat-container {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  padding-top: 56px; /* h1の高さに応じて調整 */
}

.chats {
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 20px;
}

.comment-form {
  background-color: white;
  padding: 15px 0;
}

/* コメントがない場合のスタイル */
.chats:empty + .comment-form {
  margin-top: 20px;
}

.chats-wrapper {
  flex-grow: 1;
  overflow-y: auto;
}

.chat {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  background: #ffdbed;
  border-radius: 10px;
  padding: 10px;
}

.chat img {
  width: 50px;
  height: 50px;
  border-radius: 15%;
  margin-right: 10px;
}
.chat-content {
  flex: 1;
}
.chat-content .name {
  font-weight: bold;
}
.chat-content .time {
  font-size: 0.8em;
  color: #888;
  margin-left: 10px;
}

.row.align-items-start {
  display: flex;
  align-items: flex-start;
}

.image-container {
  margin-top: 10 !important;
}

/* ユーザー */

.profile-container {
  padding: 20px;
}

.profile-icon {
  width: 80px;
  height: 80px;
  border-radius: 10%;
  overflow: hidden;
  flex-shrink: 0;
}

.user-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info {
  flex-grow: 1;
}

.profile-nickname {
  margin-bottom: 0.5rem;
}

.profile-text {
  margin-bottom: 0.5rem;
}

.user-icon-link {
  display: inline-block;
  text-decoration: none;
}

.user-icon-container {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  overflow: hidden;
}

.user-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.index-podcast {
  margin-bottom: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.description-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em; 
  max-height: 3em;
}

.like-container {
  margin-top: auto;
}

.spotify-embed {
  height: 80px;
  width: 100%;
}
