<div class="row">
  <% podcasts.each do |podcast| %>
    <div class="col-md-4">
      <div class="card-deck">
        <div class="card m-4">
          <div class="card-img-top">
            <%= link_to image_tag(podcast.image, class: 'img-fluid'), podcast_path(podcast.id) %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><b><%= podcast.name %></b></h5>
            <p class="card-text"><small><%= podcast.description.truncate(80) %></small></p>
            <p class="card-text"><small class="text-muted">Last updated</small></p>
            <%= render partial: "likes/like", locals: { podcast: podcast.original_podcast } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>