<div class="container py-4 works">
  <% if user_signed_in? %>
    <h2 class="text-center">お気に入りポッドキャスト</h2>
    <%= render 'podcasts', podcasts: @liked_podcast %>
  <% end %>
</div>

<div class="container py-4 works">
  <h2 class="text-center">人気上昇中のポッドキャスト</h2>
  <%= render 'podcasts', podcasts: @not_liked_podcast %>
</div>